<main>
   <div class="row">
      <div class="col-md-6">
        <h2>It's important to know the country's presidential history</h2>
        <p>We have developed this website to help learn about america's presidential legacy</p>
        
        <h3>The user can:</h3>
        <ul>
        <li>Create a profile</li>
        <li>view all the presidents that ever served the nation on our website.</li>
        <li>view any specific detail about the president.</li>
        <li>use the Search Box feature to find a particular president.</li>
        </ul>
      </div>
      <div class="col-md-1"></div>
   </div>
</main>
