<main>
   <div class="home">
      <br>
      <br>
      <br>
      <img id="home-image" src="https://www.transparentpng.com/thumb/american-flag/waving-american-flag-transparent-png-svg-vector-6.png" alt="USA FLAG">
      <style>img{
         float: right;
         height: 900px;
         width:fit-content ;
         margin-top: -200px;
      }
      </style>
      <div class="col-md-6">
         <br>

        <h2>It's important to know the country's presidential history</h2>
        <p style="font-size:larger">An immersive way to learn about the presidents of United States of America, know and learn about the biographical information and historical context of each president.</p>
        <p style="font-size:larger">Test your knowledge through our interactive quizzes and see how well you know your presidents.</p>
        <br>
        <h3>The user can:</h3> 
        <ul>
        <li style="font-size:larger" >Create a profile</li>
        <li style="font-size:larger">view all the presidents that ever served the nation on our website.</li>
        <li style="font-size:larger">view any specific detail about the president.</li>
        </ul>
      </div>
   </div>
</main>
