<div class="body" id="body">
<div class="container">
    <div id="question-container" class="hide">
        <div id="question">Question</div>
        <div id="ansb" class="btn-grid">
            <button class="btn">ANS 1</button>
            <button class="btn">ANS 2</button>
            <button class="btn">ANS 3</button>
            <button class="btn">ANS 4</button>
        </div>
    </div>
    <div class="controls">
        <button id="startb" class="startb btn">Start</button>
        <button id="nextb" class="nextb btn hide">Next</button>
    </div>
</div>
</div>
<div class="bottom">
        {{!-- <a href="/quiz"><button class="backb">Back</button></a> --}}
        <a style = 'margin-bottom:500px; margin-left: 750px; text-align:center' href="/quiz">Take me back to Quiz Sets!</a>
</div>
