<p class="centerPara">Choose one of the following quiz modules</p>
<div class="containerBtn">
    <div>
        <a href="/quiz/quiz1"><button class="btnq">QUIZ 1</button></a>
        <br><br>
        <a href="/quiz/quiz2"><button class="btnq">QUIZ 2</button></a>
        <br><br>
        <a href="/quiz/quiz3"><button class="btnq">QUIZ 3</button></a>
        <br><br>
        <a href="/quiz/quiz4"><button class="btnq">QUIZ 4</button></a>
        <br><br>
        <a href="/quiz/quiz5"><button class="btnq">QUIZ 5</button></a>
    </div>
</div>

