.card-deck{
    justify-content: center;
    margin-top: 50px;
}
.card-body{
    text-align: center;
    /* background-color: #c0daf4; */
}

a{
    color:#000000;
    text-decoration:none;
}

a:hover{
    color: #000000;
    text-decoration: none;
}
a:visited{
    color: #000000;
}

.info{
    max-width: 500px;
    margin-top: 50px;
    margin-left: 550px;
}
.backLink{
    margin-left: 180px;
}

.image{
    
    height:9.5cm;
}
.presidentName{
    text-align: center;
    font-weight:500;
}

.navbar{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #0077b7 100%); 
    /* background-color: #1a6ec7; */
}
/* -------------------- */

*,*::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --hue-neutral: 211;
    --hue-correct: 145;
    --hue-wrong: 0;
}

body{
    
    background-color: #c0daf4;
}

.body{
    --hue: var(--hue-neutral);
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 81%, 59%);
}

.body.correct{
    --hue: var(--hue-correct);
}

.body.wrong{
    --hue:var(--hue-wrong);
}

.container{
    width: 500px;
    max-width: 80%;
    background-color: #c0daf4;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 10px 2px;
}

.centerPara{
    margin-left: 580px;
    margin-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.containerBtn{
    margin: 50px auto 100px;
    width: 30%;
    height: 80%;
    max-width: 80%;
    background-color: #c0daf4;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    align-items: center;
}
.error{
    color: red;
    margin-left: 115px;
}
.btnq{
    
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #0077b7 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btnq:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btnq:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnq:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.btn:hover{
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);

}

.btn.correct{
    --hue: var(--hue-correct);
    background-color: rgb(21, 165, 21);;
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
    
}

.startb, .nextb, .backb{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #0077b7 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.startb, .nextb, .backb:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
  
.startb, .nextb, .backb:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.startb, .nextb, .backb:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.home{
    margin-left: 50px;  
}

#signin-form, #signup-form{
    padding: 20px;
    margin-left: 100px;
}

.input {
    background-color: white;
    border-radius: 10px;
    border:#000000 ;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

.bottom{
    position: absolute;
    bottom: 10px;
}
#question{
    font-weight: bold;
}
#finalScore{
    margin-left: 650px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}